absl-py
astunparse
cachetools
certifi
charset-normalizer
cycler
fonttools
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
joblib
Keras
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
oauthlib
opt-einsum
packaging
pandas
Pillow
pipreqs
protobuf
pyasn1
pyasn1-modules
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
typing-extensions
urllib3
Werkzeug
wrapt
zipp
gunicorn
